body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
#news-articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.article {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 300px;
    box-sizing: border-box;
    transition: transform 0.2s;
}
.article:hover {
    transform: scale(1.05);
}
.article img {
   width: 200px;
   height: auto;
   margin-bottom: 10px;
   border-radius: 5px;
   box-shadow: 0 1px 5px rgba(0, 0, 0, 0.8);
}
.article h2 {
    font-size: 1.2em;
    margin: 0 0 10px;
}
.article p {
    font-size: 0.9em;
    margin: 10px 0;
}
.article a {
    display: inline-block;
    margin-top: 10px;
    color: #1e90ff;
    text-decoration: none;
    font-weight: bold;
}
.article a:hover {
    text-decoration: underline;
}

  /* landing page styling */


#landingpage{
    font-size: x-large;
    color:white;
}
#landing{
   display: flex;
   gap: 5%;
   background-color:rgb(10, 134, 216);
   width: 1220px;
   height: 625px;
   align-items: center;
}
button{
   border-radius: 12px;
   width: 320px;
   height: 70px;
}
.newsimg{
   width: 560px;
   height: 621px;
   margin-top: 0;
   margin-left: 0;
}



/* search button  */



nav{
 background-color: #82bbf5;  
 display: flex; 
 justify-content: space-around;
 height: 80px;
}
nav a{
    text-decoration: none;
    margin-top: 30px;
    color: #333;
}
/* @media screen and (min-width:280px) and (max-width: 460px){
    #landingpage{
        font-size: xx-large;
        color:white;

    }
    #landing{
        display: grid;
        /* gap: 5%; */
        /* background-color:rgb(10, 134, 216);
        width: 400px;
        height: 400px;
        /* align-items: center;
     } */
     /* button{
        border-radius: 12px;
        width: 320px;
        height: 70px;
        margin-left: 50px;
        
     }
     .newsimg{
        width: 380px;
        height: 400px;
        border-radius: 32px;
        margin-left: 2%;
     }
     nav{
        background-color: #82bbf5;  
        display: grid; 
        justify-content: space-around;
        height: 80px;
       }
       nav a{
        text-decoration: none;
        margin-top: 0px;
        color: #333;
    } */

    

/* 
} */  /*/