body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    color: #333;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
#news-articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.article {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 300px;
    box-sizing: border-box;
    transition: transform 0.2s;
}
.article:hover {
    transform: scale(1.05);
}
.article img {
   width: 250px;
   height: auto;
   margin-bottom: 10px;
   border-radius: 5px;
   box-shadow: 0 1px 5px rgba(0, 0, 0, 0.8);
}
.article h2 {
    font-size: 1.2em;
    margin: 0 0 10px;
}
.article p {
    font-size: 0.9em;
    margin: 10px 0;
}
.article a {
    display: inline-block;
    margin-top: 10px;
    color: #1e90ff;
    text-decoration: none;
    font-weight: bold;
}
.article a:hover {
    text-decoration: underline;
}

  /* landing page styling */


#landingpage{
    font-size: xx-large;
    color:white;
}
#landing{
   display: flex;
   gap: 5%;
   background-color:rgb(10, 134, 216);
   width: 1810px;
   height: 940px;
   align-items: center;
}
button{
   border-radius: 12px;
   width: 320px;
   height: 70px;
}
.newsimg{
   width: 850px;
   height: 880px;
   border-radius: 32px;
   margin-left: 2%;
}